<section id="aboutme">
    <h2 style="display:none;">About me</h2>
    <div id="about-presentation">
        <div class="about-presentation-box">
            <h4>I work with people all over the world to create impressive and <span>functional</span> <span>websites</span> that reflect each client's unique personality.</h4>
        </div>
        <div class="about-presentation-box">
            <img src="./img/aboutme/developer.webp" srcset="./img/aboutme/developer@2x.webp 2x, ./img/aboutme/developer.webp 3x" alt="developer photo">
        </div>
    </div>
    <div id="about-list">
        <ul class="about-box">
            <li class="ac">
                <h4 class="ac-header">
                    <button type="button" class="ac-trigger">
                        About me
                        <span>
                            <svg>
                                <use href="../img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                        </span>
                    </button>
                </h4>
                
                <div class="ac-panel">
                    <p class="ac-text">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages ​​and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</p>
                    <br>
                    <p class="ac-text">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work.I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.</p>
                </div>
            </li>
            <li class="ac">
                <h4 class="ac-header">
                    <button type="button" class="ac-trigger">
                        Role
                        <span>
                            <svg>
                                <use href="../img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                        </span>
                    </button>
                </h4>
                
                <div class="ac-panel">
                    <ul class="ac-text">
                        <li>Frontend development</li>
                        <li>HeadlessCMS,Wordpress</li>
                        <li>Blender(enjoy)</li>
                    </ul>
                </div>
            </li>
            <li class="ac">
                <h4 class="ac-header">
                    <button type="button" class="ac-trigger">
                        Education
                        <span>
                            <svg>
                                <use href="../img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                        </span>
                    </button>
                </h4>
                <div class="ac-panel">
                    <ul class="ac-text">
                        <li>2018 - 2019  / Frontend Development Diploma, GoIT IT<br>School, New York</li>
                        <li>2019 - 2020 / Advanced Web Development Certificate, GoIT IT <br>School, New York</li>
                        <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                    </ul>
                </div>
                
            </li>
        </ul>
    </div>
    <div id="about-hardskills">
        <div id="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">HTML/CSS</li>
                <li class="swiper-slide">JavaScript</li>
                <li class="swiper-slide">React</li>
                <li class="swiper-slide">Node.js</li>
                <li class="swiper-slide">React Native</li>
                <li class="swiper-slide">Soft skills</li>
                <li class="swiper-slide">Redux</li>
            </ul>  
        </div>
        <div class="swiper-button-next"></div>
    </div>
</section>