<section class="container benefits-main" id="benefits">
 
    <h3 class="benefits-title">Benefits of working with me</h3>
  <div>
    <ul class="benefits-list">


      <li class="benefits-item">
       <svg class="benefits-icon">
         <use 
        href="./img/sprite.svg#icon-expertise"
        width="24"
        height="24"
        x="12"
        y="12">
         </use>
       </svg>
       
        <h4 class="text-contect">Expertise</h4>
        <p class="benefits-description">
          As a highly experienced developer, I have deep knowledge of programming and website development.
        </p>
       
      </li>
     
        <li class="benefits-item">
         <svg class="benefits-icon">
           <use 
          href="./img/sprite.svg#icon-communication"
          width="24"
          height="24"
          x="12"
          y="12">
           </use>
         </svg>
         
        <h4 class="text-contect">Communication</h4>
        <p class="benefits-description">
            Understanding your needs and wants is my priority and I am always open to discussions and corrections.
        </p>
         
        </li>

        <li class="benefits-item">
            <svg class="benefits-icon">
              <use 
             href="./img/sprite.svg#icon-art"
             width="24"
             height="24"
             x="12"
             y="12">
              </use>
            </svg>
            
           <h4 class="text-contect">Art</h4>
           <p class="benefits-description" >
            Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. 
           </p>
          
           </li>

           <li class="benefits-item">
            <svg class="benefits-icon">
              <use 
             href="./img/sprite.svg#icon-execution"
             width="24"
             height="24"
             x="12"
             y="12">
              </use>
            </svg>
            
           <h4 class="text-contect">Urgent execution</h4>
           <p class="benefits-description" >
            I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.
           </p>
          
           </li>


    </ul>
   
    
      <a href="./footer.html" 
      class="order-button">Order the project</a>
    
  </div>
    </section>