<section>
    <div class="covers-container">
        <ul class="marquee">
            <li class="marquee__inner">
                <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/1-desctop1x.jpg 1x,
                          ./img/1-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/1-desctop1x.jpg 1x,
                          ./img/1-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/1-mobilex1.jpg 1x,
                          ./img/1-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/1-desctop1x.jpg" alt="1" >
                    </picture>
                  </div>
                  <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/2-mobilex1.jpg 1x,
                          ./img/2-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/2-desctop1x.jpg" alt="2" >
                    </picture>
                  </div>
                <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/3-desctop1x.jpg 1x,
                          ./img/3-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/3-desctop1x.jpg 1x,
                          ./img/3-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/3-mobilex1.jpg 1x,
                          ./img/3-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/3-desctop1x.jpg" alt="3" >
                    </picture>
                </div>
            </li>
            <li class="marquee__inner">
                <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/2-mobilex1.jpg 1x,
                          ./img/2-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/2-desctop1x.jpg" alt="2" >
                    </picture>
                  </div>
                  <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/2-mobilex1.jpg 1x,
                          ./img/2-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/2-desctop1x.jpg" alt="2" >
                    </picture>
                  </div>
                  <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/2-mobilex1.jpg 1x,
                          ./img/2-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/2-desctop1x.jpg" alt="2" >
                    </picture>
                  </div>
            </li>
            <li class="marquee__inner">
                <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/2-mobilex1.jpg 1x,
                          ./img/2-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/2-desctop1x.jpg" alt="2" >
                    </picture>
                  </div>
                  <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/2-mobilex1.jpg 1x,
                          ./img/2-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/2-desctop1x.jpg" alt="2" >
                    </picture>
                  </div>
                  <div class="marquee__line">
                    <picture>
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 1440px)"
                      >
                      <source
                        srcset="
                          ./img/2-desctop1x.jpg 1x,
                          ./img/2-desctop12.jpg 2x
                        "
                        media="(min-width: 768px)"
                      >
                      <source
                        srcset="
                          ./img/2-mobilex1.jpg 1x,
                          ./img/2-mobilex2.jpg 2x
                        "
                        media="(min-width: 320px)"
                      >
                      <img src="./img/2-desctop1x.jpg" alt="2" >
                    </picture>
                  </div>
            </li>
        </ul>
    </div>
    </section>
    