<div class="container">
  <picture>
    <source
      srcset="
        ../img/footer.img/jefferson-desktop1x.png 1x,
        ../img/footer.img/jefferson-desktop2x.png 2x
      "
      media="(min-width: 1440px)"
    />
    <source
      srcset="
        ../img/footer.img/jefferson-desktop1x.png 1x,
        ../img/footer.img/jefferson-desktop2x.png 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ../img/footer.img/jefferson-mobile1x.png 1x,
        ../img/footer.img/jefferson-mobile2x.png 2x
      "
      media="(min-width: 320px)"
    />
    <img
      src="../img/footer.img/jefferson-desktop1x.jpg"
      alt="Jefferson"
      width="44"
      height="44"
    />
  </picture>
  <h2 class="footer-title">Let’s <span class="work">work</span> together</h2>
</div>
