<section class="section">
    <div class="wraper hero-container">
        <h1 class="hero-title">Hello.
            I’m Fullstack developer
            Lloyd Jefferson.</h1>

        <div class="hero-link">
            <ul class="social-list">
                <li class="social-list-item">
                    <a class="social-list-link" href="https://www.instagram.com/goitclub/">IG
                    </a>
                </li>
                <li class="social-list-item">
                    <a class="social-list-link" href="https://www.facebook.com/goITclub/">FB
                    </a>
                </li>

                <li class="social-list-item">
                    <a class="social-list-link" href="https://www.youtube.com/c/GoIT">YT
                    </a>
                </li>

                <li class="social-list-item">
                    <a class="social-list-link" href="https://www.youtube.com/c/GoIT">GH
                    </a>
                </li>
                <button class="mail-btn" type="button">lloydjefferson@gmail.com</button>
        </div>


    </div>

</section>