<section class="hero heroSection">
  <div class="wraper hero-container">

    <div>
      <load scr="partials/header.html" />
    </div>

    <h1 class="hero-title">Hello.
      I’m Fullstack developer
      Lloyd Jefferson.</h1>

    <div class="hero-link">
      <ul class="social-list">
        <li class="social-list-item">
          <a class="social-list-link" href="https://www.instagram.com/goitclub/" target="_blank">IG
          </a>
        </li>
        <li class="social-list-item">
          <a class="social-list-link" href="https://www.facebook.com/goITclub/" target="_blank">FB
          </a>
        </li>

        <li class="social-list-item">
          <a class="social-list-link" href="https://www.youtube.com/c/GoIT" target="_blank">YT
          </a>
        </li>

        <li class="social-list-item">
          <a class="social-list-link" href="https://github.com/PHOTOVT/project-group-12" target="_blank">GH
          </a>
        </li>

        <li class="social-list-item">
          <a class="social-list-link address-link" href="mailto:lloydjefferson@gmail.com"
            target="_blank">lloydjefferson@gmail.com
          </a>
        </li>

      </ul>

    </div>


  </div>

</section>