<section>
  <div class="project__swiper">
    <h2 class="project__header">Projects</h2>

    <ul class="project__list">
      <li class="project__item">
        <div class="project__left">
          <ul class="project__stack-list">
            <li class="project__stack-item">#react</li>
            <li class="project__stack-item">#js</li>
            <li class="project__stack-item">#node js</li>
            <li class="project__stack-item">#git</li>
          </ul>
          <p class="description">
            Programming Across <br />
            Borders: Ideas,<br />
            Technologies, Innovations
          </p>

          <a href="" class="link">See project</a>
        </div>
        <div class="project__right">
          <picture class="project__picture">
            <source
              srcset="./img/project.img/midl/1.png"
              media="(min-width: 787px)" />
            <img src="./img/project.img/min/1.png" alt="Картинка с размерами"
          /></picture>
        </div>
      </li>
      <li class="project__item">
        <div class="project__left">
          <ul class="project__stack-list">
            <li class="project__stack-item">#react</li>
            <li class="project__stack-item">#js</li>
            <li class="project__stack-item">#node js</li>
            <li class="project__stack-item">#git</li>
          </ul>
          <p class="description">
            Programming Across <br />
            Borders: Ideas,<br />
            Technologies, Innovations
          </p>

          <a href="" class="link">See project</a>
        </div>
        <div class="project__right">
          <picture class="project__picture">
            <source
              srcset="./img/project.img/midl/2.png"
              media="(min-width: 787px)" />
            <img src="./img/project.img/min/2.png" alt="Картинка с размерами"
          /></picture>
        </div>
      </li>
      <li class="project__item">
        <div class="project__left">
          <ul class="project__stack-list">
            <li class="project__stack-item">#react</li>
            <li class="project__stack-item">#js</li>
            <li class="project__stack-item">#node js</li>
            <li class="project__stack-item">#git</li>
          </ul>
          <p class="description">
            Programming Across <br />
            Borders: Ideas,<br />
            Technologies, Innovations
          </p>

          <a href="" class="link">See project</a>
        </div>
        <div class="project__right">
          <picture class="project__picture">
            <source
              srcset="./img/project.img/midl/3.png"
              media="(min-width: 787px)" />
            <img src="./img/project.img/min/3.png" alt="Картинка с размерами"
          /></picture>
        </div>
      </li>
    </ul>
    <div class="swiper-scrollbar"></div>

    <div class="project__buttom">
      <button class="project__button-left">
        <svg
          width="25"
          class="svg__button-left"
          height="24"
          viewBox="0 0 48 48"
        >
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="project__button-right">
        <svg
          class="svg__button-right"
          width="25"
          height="24"
          viewBox="0 0 48 48"
        >
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
