<section id="projects" class="container">
  <h2>Projects</h2>
  <div id="projects-container">
    <div id="pr-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="pr-box">
            <div class="pr-links">
              <span>#react</span>
              <span>#js</span>
              <span>#node js</span>
              <span>#git</span>
            </div>
            <div class="pr-bottom">
              <h4>
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </h4>
              <a href="https://github.com/PHOTOVT/project-group-12"
                >See project</a
              >
            </div>
          </div>
          <div class="pr-box">
            <img src="./img/projects.img/image.webp" alt="project 1" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="pr-box">
            <div class="pr-links">
              <span>#react</span>
              <span>#js</span>
              <span>#node js</span>
              <span>#git</span>
            </div>
            <div class="pr-bottom">
              <h4>
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </h4>
              <a href="https://github.com/PHOTOVT/project-group-12"
                >See project</a
              >
            </div>
          </div>
          <div class="pr-box">
            <img src="./img/projects.img/image2.webp" alt="project 2" />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="pr-box">
            <div class="pr-links">
              <span>#react</span>
              <span>#js</span>
              <span>#node js</span>
              <span>#git</span>
            </div>
            <div class="pr-bottom">
              <h4>
                Programming Across<br />Borders: Ideas,<br />Technologies,
                Innovations
              </h4>
              <a href="https://github.com/PHOTOVT/project-group-12"
                >See project</a
              >
            </div>
          </div>
          <div class="pr-box">
            <img src="./img/projects.img/image3.webp" alt="project 3" />
          </div>
        </li>
      </ul>
    </div>
    <div class="navigation">
      <div class="swiper-pr-button-prev">
        <svg>
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-pr-button-next">
        <svg>
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
