<section class="reviews-section-container container">
  <div class="reviews-container">
    <h2 class="reviews-header">REVIEWS</h2>
    <div class="rev-global">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="nav-container">
      <div class="swiper-button-prev-left-arr">
        <svg class="l-arrow">
          <use href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next-right-arr">
        <svg class="r-arrow">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
