.title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.work {
  color: var(--color-button);
}

.title-container {
  display: flex;
  column-gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 64px 0;
}

input {
  font-family: 'Inter Tight', sans-serif;
  margin: 0;
  border: none;
  background: none;
  appearance: none;
  border-bottom: 1px solid var(--color-transparent-white1);
  outline: none;
  color: var(--color-text);
}

input:focus,
input:active {
  border-color: var(--color-arrow);
}

input::placeholder {
  color: var(--color-transparent-white2);
}

.form-button {
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  background: var(--color-button);
  border-radius: 100%;
}

.form-button:hover,
.form-button:active,
.form-button:focus {
  background: var(--color-button-pseudo);
}

.contacts {
  display: flex;
  text-align: center;
  gap: 4px;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.contacts-email,
.contacts-phone {
  font-family: 'Inter Tight', sans-serif;
  color: var(--color-text);
  border: 1px solid var(--color-transparent-white1);
  border-radius: 60px;
  padding: 10px 12px;
}

.contacts-email:hover,
.contacts-phone:hover {
  border: 1px solid var(--color-text);
}

.contacts-email {
  width: 178px;
  height: 37px;
}

.contacts-phone {
  width: 119px;
  height: 37px;
}

.basicLightbox--visible .modal {
  background: var(--color-background);
  border-radius: 20px;
  padding: 64px 32px;
  text-align: center;
  width: 343px;
  height: 276px;
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 16px;
}

.modal-text {
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-transparent-white2);
}

.modal-close-icon-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
}

@media only screen and (max-width: 767px) {
  .form-email {
    margin-bottom: 16px;
  }

  .form-comment {
    margin-bottom: 32px;
  }

  input {
    width: 100%;
    padding: 0 0 20px;
  }

  .form-button {
    padding: 40px 32px;
    width: 100px;
    height: 100px;
  }

  .footer-container {
    background: var(--color-background)
      url(../img/footer.img/background-mobile1x.png) right center no-repeat;
  }
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .footer-container {
    background: var(--color-background)
      url('../img/footer.img/background-mobile2x.png') right center no-repeat;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 64px;
  }

  .title-container {
    width: 542px;
    column-gap: 20px;
  }

  form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin: 18px 0 78px;
  }

  input {
    width: 245px;
    height: 44px;
  }

  .form-button {
    width: 150px;
    height: 150px;
    padding: 65px 57px;
  }

  .contacts {
    gap: 8px;
    font-size: 16px;
  }

  .contacts-email {
    padding: 18px 32px;
    width: 239px;
    height: 55px;
  }

  .contacts-phone {
    padding: 18px 32px;
    width: 173px;
    height: 55px;
  }

  .basicLightbox--visible .modal {
    width: 492px;
    height: 246px;
  }

  .footer-container {
    background: var(--color-background)
      url(../img/footer.img/background-tablet1x.png) right center no-repeat;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .footer-container {
    background: var(--color-background)
      url('../img/footer.img/background-tablet2x.png') right center no-repeat;
  }
}

@media only screen and (min-width: 1440px) {
  input {
    width: 390px;
    height: 44px;
  }

  .footer-container {
    background: var(--color-background)
      url(../img/footer.img/background-desktop1x.png) right center no-repeat;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .footer-container {
    background: var(--color-background)
      url('../img/footer.img/background-desktop2x.png') right center no-repeat;
  }
}
