/* MOBILE */
.reviews-header {
  color: var(--color-transparent-white3);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-bottom: 32px;
}

.list-image {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.list-header {
  color: var(--color-text);
  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
  margin-bottom: 8px;
}

.list-review {
  color: var(--color-transparent-white2);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.result-item {
  border-radius: 20px;
  border: 1px solid var(--color-transparent-white1);
  padding: 32px 24px;
}

.reviews-container {
  width: 100%;
}

.l-arrow {
  width: 24px;
  height: 24px;
}

.r-arrow {
  width: 24px;
  height: 24px;
}

.reviews-list {
  height: auto !important;
}

.swiper-button-prev-left-arr {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid var(--color-transparent-white2);
}

.swiper-button-next-right-arr {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid var(--color-transparent-white2);
}

.swiper-button-disabled {
  border: 1px solid var(--color-transparent-white1);
}

.swiper-button-disabled svg {
  --color1: var(--color-transparent-white1);
}

.nav-container {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.rev-global {
  display: flex;
  margin-bottom: 32px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .l-arrow {
    width: 32px;
    height: 32px;
  }

  .r-arrow {
    width: 32px;
    height: 32px;
  }

  .swiper-button-prev-left-arr {
    padding: 18px;
  }

  .swiper-button-next-right-arr {
    padding: 18px;
  }

  .nav-container {
    gap: 20px;
  }
}
