@import url('./about-me.css');
@import url('./benefits.css');
@import url('./covers.css');
@import url('./faq.css');
@import url('./fonts.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./projects.css');
@import url('./reset.css');
@import url('./reviews.css');

:root {
  font-family: 'Inter Tight', sans-serif;

  --color-text: #fafafa;
  --color-background: #1c1d20;
  --color-card: #242527;
  --color-arrow: #3b3b3b;
  --color-button: #ed3b44;
  --color-button-pseudo: #e0373f;
  --color-transparent-white1: rgba(250, 250, 250, 0.2);
  --color-transparent-white2: rgba(250, 250, 250, 0.6);
  --color-transparent-white3: rgba(250, 250, 250, 0.4);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

/* все кроме header и covers */
.container {
  max-width: 375px;
  padding: 0 16px 64px;
  margin: 0 auto;
}

/* только для header */
.header-container {
  max-width: 375px;
    margin: 0 auto;
    position: relative;

}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px 96px;
  }

  .header-container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px 164px;
  }

  .header-container {
    max-width: 1440px;
  }

  .footer-container {
    padding: 0 196px 164px;
  }
}
